<launch>
    <arg name="name_space" default="iai_donbot/whole_body_controller/base"/>
    <rosparam command="load" ns="iai_donbot" file="$(find base_controller)/config/base_controller_iai_donbot.yaml" />
    <node pkg="omni_pose_follower" type="omni_pose_follower_map.py" name="omni_pose_follower" output="screen">
        <remap from="~/cmd_vel" to="/base_controller/command"/>
 	    <remap from="/base/joint_states" to="/iai_donbot/base/joint_states"/> 
        <param name="name_space" value="$(arg name_space)"/>
    </node>
</launch>
