<launch>
    <arg name="name_space" default="whole_body_controller/base"/>
    <rosparam command="load" file="$(find omni_pose_follower)/config/ros_control_sim.yaml" />
    <node pkg="omni_pose_follower" type="omni_pose_follower.py" name="omni_pose_follower" output="screen">
        <!-- Remapping to global topics will break ros' group namespacing -->
        <!-- <remap from="~/cmd_vel" to="/cmd_vel"/> -->
        <!-- <remap from="~/joint_states" to="/joint_states"/> -->
        <!-- <remap from="~follow_joint_trajectory" to="/whole_body_controller/base/follow_joint_trajectory"/> -->
        <!-- <remap from="~state" to="/whole_body_controller/base/state"/> -->
        <param name="name_space" value="$(arg name_space)"/>
        <param name="vel_tolerance" value="0.01"/>
    </node>
</launch>